body {
    font-family: 'Changa', sans-serif;
    background: #005c80;
    padding:0;
    margin:0;
    color: #a3b7cb;
}

a {
    color: #5fa9c6;
}

a:hover {
    color: #cfb4e7;
    text-decoration: none;
}

section p {
    font-weight: 500;
    color: #7badb6;
}

section h1 {
    font-size: 23px;
    font-variant: small-caps;
    letter-spacing: 2px;
    margin-top: 25px;
}

.content li {
    margin: 10px 0;
}

.content p span {
    font-size: 22px;
}

.title p {
    font-family: 'Londrina Solid', cursive;
    font-size: 80px;
    color: #707c9c;
    margin-bottom: 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.content{
    margin: 30px 0 50px 0;
    text-align: justify;
}

.photo {
    float: right;
    width: 110px;
    border-radius: 60px;
    margin: 10px 5px 8px 15px;
}

.menu {
    padding: 0;
}

.menu li {
    display: inline;
    letter-spacing: 2px;
    padding-right: 10px;
}

.menu li a, .menu li a:hover {
    color: #d9dfe6;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.menu li a:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.menu li a:hover:after, .menu .active a:after {
    opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.content.nutshell {
    display: none;
}

.fa-plus-circle:before {
    color: #6ba796;
}

.showFull {
    cursor: pointer;
    color: #9c9c9c;
}

.bg-blue {
    background-color: #659fa9 !important;
    color: #43116f;
}

.lang {
    width: 20px;
    position: absolute;
    right: 0;
}

@media screen and (min-width: 390px) {
    .container {
        max-width: 445px !important;
    }
}

@media screen and (max-width: 576px) {
    .row.skills > div:nth-child(3), .row.skills > div:nth-child(4) {
        margin-top: 20px;
    }
}

@media screen and (max-width: 450px) {
    .photo {
        float: none;
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .title p {
        font-size: 50px;
    }
    
    .content {
        margin: 15px 0 50px 0;
    }

    .content.full {
        display: none;
    }

    .content.nutshell {
        display: block;
    }
}

@media screen and (max-width: 370px) {
    .menu li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 310px) {
    .menu li {
        display: block;
        margin-top: 6px;
    }

    .menu li a {
        font-size: 15px;
    }
}
